<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <% include ../partials/head %>
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="/css/dashboard.css" rel="stylesheet">

        <script src="/js/dashboard.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>

        <title> <%= user['fName'] + ' ' + user['lName'] %> </title>
    </head>

    <body>
        <% include ../partials/header %>

        <div ng-app="dashboardApp" ng-controller="dashboardCtrl" ng-init="init(<%= user['id'] %>)"class="container">
            <div class="container-fluid">
                <div class="main">
                    <div class="row">
                        <div class="dashboard-left-content">
                            <div class="img-container img-circle">
                                <img id="profile-picture" src="/img/no-image.png" class="profile-picture" alt="<%= user['fName'] + ' ' + user['lName'] %>">
                            </div>
                            <h4><%= user['fName'] + ' ' + user['lName'] %></h4>
                            <span class="text-muted"><%= user['username'] %></span>
                        </div>

                        <div class="dashboard-right-content">
                            <h3>My Places:</h3><hr>
                            <ul class="control-panel">
                                <li class="control-panel-item"><a href='/api/v1/users/<%= user['id'] %>/orgs'>My Organizations</a></li>
                                <li class="control-panel-item"><a href='/api/v1/users/<%= user['id'] %>/leagues'>My Leagues</a></li>
                                <li class="control-panel-item"><a href='/api/v1/users/<%= user['id'] %>/tournaments'>My Tournaments</a></li>
                                <li class="control-panel-item"><a href="">My Teams (coming soon!)</a></li>
                            </ul>
                        </div>
                    </div>

                    <h2 class="sub-header">Recent Matches <small>(last 30 days)</small></h2>
                    <div>
                        <table id="recent_table" class="display">
                            <thead>
                            <tr>
                                <th>League</th>
                                <th>Opponent</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Winner</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="info in matchList">
                                    <td>{{ info['league'] }}</td>
                                    <td>{{ info['opponent'] }}</td>
                                    <td >{{ info['matchdate'] }}</td>
                                    <td >{{ info['matchtime'] }}</td>
                                    <td >{{ info['winner'] }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-init="startDatatable()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>
    </body>

</html>