<!DOCTYPE html>
<html lan="en">

    <head>
        <% include ../partials/head %>
        <link href="/css/dashboard.css" rel="stylesheet">

        <title> <%= user['fName'] + ' ' + user['lName'] %> </title>

    </head>

    <body>
        <% include ../partials/header %>

        <div class="container-fluid">
                <div class="main">
                    <div class="row">
                        <div class="dashboard-left-content">
                            <div class="img-container img-circle">
                                <img src="/img/camera.png" class="profile-picture" alt="Generic placeholder thumbnail">
                            </div>
                            <h4><%= user['fName'] + ' ' + user['lName'] %></h4>
                            <span class="text-muted"><%= user['username'] %></span>
                        </div>

                        <div class="dashboard-right-content">
                            <h3>My Places:</h3><hr>
                            <ul class="control-panel">
                                <li class="control-panel-item"><a href='/api/v1/orgs/<%= user['id'] %>'>View Organizations</a></li>
                                <li class="control-panel-item"><a href='/api/v1/leagues/<%= user['id'] %>'>View Leagues</a></li>
                                <li class="control-panel-item"><a href='/api/v1/tournaments/<%= user['id'] %>'>View Tournaments</a></li>
                                <li class="control-panel-item"><a href="">View Teams (coming soon!)</a></li>
                            </ul>
                        </div>
                    </div>


                    <h2 class="sub-header">Recent Matches</h2>
                    <div class="table-responsive">
                        <table id="recent-matches-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>League</th>
                                <th>Player 1</th>
                                <th>Player 2</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Result</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="">

                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>sit</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,002</td>
                                <td>amet</td>
                                <td>consectetur</td>
                                <td>adipiscing</td>
                                <td>elit</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>Integer</td>
                                <td>nec</td>
                                <td>odio</td>
                                <td>Praesent</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,003</td>
                                <td>libero</td>
                                <td>Sed</td>
                                <td>cursus</td>
                                <td>ante</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,004</td>
                                <td>dapibus</td>
                                <td>diam</td>
                                <td>Sed</td>
                                <td>nisi</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,005</td>
                                <td>Nulla</td>
                                <td>quis</td>
                                <td>sem</td>
                                <td>at</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,006</td>
                                <td>nibh</td>
                                <td>elementum</td>
                                <td>imperdiet</td>
                                <td>Duis</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,007</td>
                                <td>sagittis</td>
                                <td>ipsum</td>
                                <td>Praesent</td>
                                <td>mauris</td>
                                <td>sit</td>
                            </tr>
                            <tr>
                                <td>1,008</td>
                                <td>Fusce</td>
                                <td>nec</td>
                                <td>tellus</td>
                                <td>sed</td>
                                <td>sed</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>
    </body>

</html>